body {
    background-color: #171421;
    color: #2AA1B3;
    font-family: 'Source Code Pro', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.terminal {
    background-color: #171421;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

pre {
    margin: 0;
    white-space: pre-wrap;
    word-wrap: break-word;
}
